#parse("/array.java.vm")
#if ($packageName)
//package $packageName;

#end##
package com.hf.test;

import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;
import cucumber.runtime.RuntimeOptions;
import org.testng.annotations.BeforeSuite;
import org.testng.annotations.AfterSuite;
import java.io.File;
import java.io.IOException;
import com.hf.test.framework.helpers.ScenarioContext;

import com.hf.test.ReportMerger;

@CucumberOptions(
        strict = $strict,
        features = {"$featureFile"},
        plugin = #stringArray($plugins),
        monochrome = ${monochrome},
#if(!$featureFile.contains(".feature:") && $tags)
        tags = #stringArray($tags),
#end
        glue = #stringArray($glue))
public class $className extends AbstractTestNGCucumberTests {
	@BeforeSuite
	public static void start(){
//	String plugins = $plugins;
//		ScenarioContext ScenarioContext1 = new ScenarioContext();ScenarioContext1.increase();
		
	//	ScenarioContext context
	}
	
	    @AfterSuite
    public static void exit() throws IOException  {
//    	    	ScenarioContext.ThreadCount--;
 //   	if(ScenarioContext.ThreadCount==0){    	
            File reportDirectory = new File(System.getProperty("LogFilePath"));
            if (reportDirectory.exists()) {
                ReportMerger munger = new ReportMerger();
                munger.mergeReports(reportDirectory);
            }
        //}
    }
	
	}